*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: hsl(0, 0%, 0%);
  color: #ff4545;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 50%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
}

body {
  display: grid;
  place-items: center;
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.chat {
  width: 80%;
  max-width: 400px;
  min-width: 350px;
  max-height: 600px;
  border-radius: 30px;
  background: white;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
  overflow: hidden;
  display: grid;
  grid-template-rows: 80% 20%;
}

.chat-texts {
  background: white;
  padding: 5px;
  overflow: auto;
  min-height: 60vh;
}

.text {
  display: flex;
  padding: 0.7rem;
  align-items: start;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text.sent {
  flex-direction: row-reverse;
}

.text.sent .profile-pic {
  margin-right: 0;
  margin-left: 0.7rem;
}

.text.sent .text-content {
  border-radius: 20px 0px 20px 20px;
}

.text.sent .text-content {
  background: #ff4545;
  color: white;
}

.profile-pic {
  min-width: 60px;
  height: 60px;
  background: #f9f9f9;
  border-radius: 50%;
  margin-right: 0.7rem;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.text-content {
  background: hsl(220, 20%, 94%);
  padding: 15px;
  border-radius: 0px 20px 20px 20px;
  font-size: 0.8rem;
  line-height: 130%;
  letter-spacing: 0.5px;
}

.timestamp {
  display: block;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

.text .sent .timestamp {
  color: white;
  float: right;
  padding: 20px 0px 0px 0px;
}
.text .timestamp {
  color: #333;
  float: right;
  padding: 20px 0px 0px 0px;
}

.text-content h5 {
  letter-spacing: 0;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.send-message {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: ghostwhite;
}

.message-text {
  width: 80%;
  background: white;
  padding: 1rem 1.2rem;
  border-radius: 100vw;
  display: flex; /**Importante quitar si deseo agregar los iconos en el input */
  align-items: center;
  justify-content: space-between;
  flex-basis: 80%;
  background: hsl(220, 20%, 94%);
}

.smiley,
.attachment {
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
}

.message-text input {
  padding: 0.5rem;
  border: none;
  background: transparent;
  font-weight: 700;
}

.message-text input:focus {
  outline: none;
}

button {
  border: none;
  background: transparent;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  border-radius: 50%;
  background: #ff4545;
  color: white;
  display: grid;
  place-items: center;
  transition: 300ms ease;
}

button:hover {
  background: #e2001a;
  cursor: pointer;
}

#entrar{
  padding: 10px 60px;
  margin-top: 30px;
  background-color: crimson;
  border: none;
  color: #fff;
  font-weight: 600;
}
#entrar:hover{
  cursor: pointer;
}